*{
  box-sizing: border-box;
}

.navbar{
  padding-top: 0.3em;
  height: 6em;
  background-color: #DC0A2D;
}

main{
  margin-top: -2em;
  background-image: url(../img/poke1.jpg);
  background-position: center;
}

.pokemon{
  padding-top: 3em;
  text-align: center;
}

.col-lg-2 , .col-md-2 , .col-sm-3 , .col-xs-6{
  padding-right: 0;
}

.img-responsive{
  height: 3em;
  float: right;
}

.panel , .panel-default{
  display: inline-block;
  text-align: center;
  margin-right: 2em;
}

p{
  background-color: rgba(0,0,0,.5);
  color: #FFF;
  font-weight: bolder;
}

#bigBlue{
  height: 3em;
  width: 3em;
  background-color: blue;
  border: 5px solid white;
  border-radius: 2em;
}

.balls{
  height: 1em;
  width: 1em;
  display: inline-block;
  border-radius: 1em;
}

#littleRed{
  background: linear-gradient(to right bottom, #F53535, #8E7E7E);
  border: 1px solid black;
  margin-bottom: 1em;
}

#littleYellow{
  background: linear-gradient(to right bottom, #F3FF2C, #8E7E7E);
  border: 1px solid black;
  margin-bottom: 1em;
}

#littleGreen{
  background: linear-gradient(to right bottom, #48E953, #8E7E7E);
  border: 1px solid black;
  margin-bottom: 1em;
}

.fireColor{
  background-color: #F9B482;
}

.waterColor{
  background-color: #9F9BF0;
}

.normalColor{
  background-color: #D8D8D8;
}

.poisonColor{
  background-color: #927B98;
}

.fairyColor{
  background-color: #FF8D98;
}

.flyingColor{
  background-color: #D1E9E7;
}

.grassColor{
  background-color: #7CF790;
}

.electricColor{
  background-color: #EDFF51;
}

.groundColor{
  background-color: #B87414;
}

.fightingColor{
  background-color: #A6A6A6;
}

.psychicColor{
  background-color: #DFA541;
}

#title{
  font-family: 'Permanent Marker', cursive;
  font-size: 25px;
  text-align: center;
}

.modal-body h4{
  font-family: 'Courgette', cursive;
}

.touch{
  border: none;
  background: none;
}